@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #e9c46a;

  /* font-family: 'Open Sans', sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 5px;
}


@font-face {
  font-family: 'Roboto Mono', monospace;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
}

* {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  color: #33344e; 

}
