.topnav {
  overflow: hidden;
  background-color: #57787b;
}

.topnav a {
  float: left;
  color: #faf1e0; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #f6a982;
  text-decoration: none;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.container {
  background: #57787b;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  /* border: 1px solid red; */
}

.container cols {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* border: 1px solid white; */

}

.container item {
  flex-basis: auto;
  flex-grow: 1;
  /* border: 1px solid #faf1e0; */
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #faf1e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
  height: 25px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #f6a982;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: none;
  color: #faf1e0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

/* Diagonal stacked paper effect */
.paper {
  /* background-color: #faf1e0; */
  /* Need position to allow stacking of pseudo-elements */
  position: relative;
  /* Padding for demo purposes */
  padding: 30px;
  margin: 10px;
  width: 550px;
}

.paper,
.paper::before{
  /* box-shadow: 2px 1px 1px rgba(0,0,0,0.15); */
  border-radius: 10px;
  border: 2px solid #33344e;
  background-color: #fff9ea;
  }

.paper::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Second sheet of paper */
.paper::before {
  right: 12px;
  top: 12px;
  z-index: -1;
}


.paper img {
  /* -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);*/
  transition: transform 0.5s ease-out;
  perspective: 500px;
}

.paper p {
  color: #33344e;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.paper info {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;
}

.paper tight {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: right;
}

.paper tag{
  padding: 3px;
  margin: 10px;
  border-radius: 5px;
  background: #9cafd8;
  /* background: lightskyblue;  */
}
.paper tag1{
  padding: 3px;
  margin: 10px;
  border-radius: 5px;
  background: #dab9d8;
  /* background: lightskyblue;  */
}
.paper tag2{
  padding: 3px;
  margin: 10px;
  border-radius: 5px;
  background: #b8daaa;
  /* background: lightskyblue;  */
}


.paper dates {
  justify-content: right;
}


.paper:hover,
.paper:focus,
.paper:active {
text-decoration: none;
}

.paper:hover::before {
  background: #33344e;
}

.paper:hover ~ .paper img{
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

.paper img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

.paper tagbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 200px;
}


.logo {
  height: 1em;
}

.headshot {
  margin: 1rem;
}

.headshot img {
height: 300px;
transition: transform 0.5s ease-out;
perspective: 500px;

}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
